@using CityAir.UI.Features.CityAirQuality

@model GetCityAirViewModel

@{
    Layout = null;
}

@foreach (var item in Model.Results){
    <div class="item">
        <h3>@item.City, @item.Country</h3>
    </div>
}